<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TrevyBurgess.Games.TrevyChess.ChessGameUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <TrevyBurgess.Games.TrevyChess.ChessGameUI.Properties.Settings>
            <setting name="ToolbarVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StatusBarVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowSillyMessges" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Difficulty" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="WhiteChessPiecesOnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PlayAgainstComputer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PlayerIsWhite" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PlayWithoutRules" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowChessCodes" serializeAs="String">
                <value>False</value>
            </setting>
        </TrevyBurgess.Games.TrevyChess.ChessGameUI.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
